@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Martel:wght@200;300;400;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


a.active hr{
  display: block;
}



.martel-regular {
  font-family: "Martel", serif;
  font-weight: 400;
  font-style: normal;
}

.italianno-regular {
  font-family: "Italianno", serif;
  font-weight: 400;
  font-style: normal;
}



*{
  font-family: Outfit;
}

.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}

::-webkit-scrollbar{
  display: none;
}


/* @media (max-width:640px) {
  a.active{
      background-color: black;
      color: white;
  }
} */
